<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netrix-{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    {% block others %}{% endblock others %}
</head>
<body>
    <main class="bg-black h-full  relative overflow-x-hidden">
        {% include "partials/_header.html" %}
        {% block content %}{% endblock content %}
        {% include "partials/_footer.html" %}
    </main>
    
</body>
</html>